.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: url(../../../images/Pointer.png) 0 0, auto;
  transition: opacity .5s ease;
  text-decoration: none;
}

.cover__link:hover {
  opacity: .7;
}
