.section-title_place_places {
  max-width: 460px;
  /* min-width: 340px; */
  text-align: left;
}

@media (max-width: 920px) {
  .section-title_place_places {
    font-size: 42px;
    line-height: 1.095;
  }
}
