.lead__subtitle {
  text-align: center;
  color: #FFF;
  margin: 32px 0 64px 0;
  padding: 0;
  max-width: 640px;
  font-size: 30px;
  line-height: 1.2;
}

@media (max-width: 1030px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}


@media (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media (max-width: 528px) {
  .lead__subtitle {
    margin: 16px 0 40px 0;
  }
}
