.cover {
  width: 100%;
  min-height: 100%;
  background-image: url(../../images/baikal-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  padding-top: 62.5%;
  box-sizing: border-box;
  background-color: #2A2C2F;
  opacity: .3;
}

@media (max-width: 1030px) {
  .cover {
    margin: 0 calc((100% - 100vw)/2);
  }
}
