.cover__overlay {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-color: #2A2C2F;
  opacity: 30%;
  z-index: 2;
  transition: opacity .5s ease;
}

.cover__overlay:hover {
  opacity: .7;
}
