.place {
  margin: 0;
  padding:  0 0 80px 0;
  display: grid;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-columns: 460px auto;
  max-width: 984px;
}

.place:last-child {
  padding: 0 0 92px 0;
}

.place:first-child {
  padding: 92px 0 80px 0;
}

@media (max-width: 1030px) {
  .place {
    column-gap: 32px;
    grid-template-columns: 440px auto;
  }
}

@media (max-width: 920px) {
  .place {
    column-gap: 28px;
    grid-template-columns: 340px auto;
  }
}

@media (max-width: 620px) {
  .place {
    row-gap: 32px;
    grid-template-columns: auto;
  }
}
